* {
  margin: 0;
  padding: 0;
}

header {
  z-index: 50;
  min-height: 10vh;
  background-color: white;
  display: flex;
  justify-content: space-around;
  color: #0c3263;
  position: sticky;
  top: 0;
}
header #logo {
  display: flex;
  align-items: center;
  font-family: "Share Tech Mono", monospace;
}
header #logo #main-logo {
  height: 8vh;
}
header nav {
  align-items: center;
  display: flex;
  justify-content: space-around;
  min-width: 40vw;
}
header nav a {
  text-decoration: none;
  color: #0c3263;
  padding: 0 3px;
}

footer {
  background-color: white;
  color: #122e28;
}
footer a {
  text-decoration: none;
  color: #305789;
}
footer a:hover {
  color: #122e28;
}
footer #footer-main {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}
footer #info h2, footer #info h3 {
  font-family: Share Tech Mono, monospace;
}
footer #info p {
  font-size: large;
}
footer #buttons {
  max-width: 30rem;
}

@keyframes parUp {
  from {
    bottom: 0;
  }
  to {
    bottom: 4rem;
  }
}
@keyframes parDown {
  from {
    bottom: 4rem;
  }
  to {
    bottom: 0;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Big John PRO, sans-serif;
  background-color: #305789;
  color: white;
}
body a, body input {
  transition: background-color 0.2s, color 0.2s;
}
body main #hero {
  background-image: url("../images/back-1-new.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
body main #hero #hero-text {
  position: relative;
  left: 50vw;
  background-color: white;
  color: #122e28;
  padding: 25px;
  margin: 6rem;
  display: inline-block;
}
@media (max-width: 850px) {
  body main #hero #hero-text {
    left: 0;
    margin: 3rem;
  }
}
body main #hero #hero-text h2 {
  font-weight: normal;
}
body main #hero #hero-text h1 {
  font-size: 45px;
  color: #19884a;
}
body main #hero #hero-text #hero-cta {
  padding: 10px;
}
body main #hero #hero-text #hero-cta a {
  padding: 10px;
  color: white;
  background-color: #19884a;
  text-decoration: none;
  border: 1px solid #19884a;
}
body main #hero #hero-text #hero-cta #cta-2 {
  background-color: #0c3263;
  border: 1px solid #0c3263;
}
body main #hero #hero-text #hero-cta a:hover {
  background: none !important;
  color: #19884a;
}
body main #hero #hero-text #hero-cta #cta-2:hover {
  color: #0c3263;
}
body main #intro {
  display: flex;
  flex-wrap: wrap;
  padding: 5vw;
}
body main #intro div {
  color: #122e28;
  margin: 20px;
}
body main #intro #convince {
  background-color: white;
  padding: 1rem;
  width: 40rem;
}
body main #intro #convince .big-red {
  color: #af414a;
  font-size: xx-large;
}
body main #intro #convince p {
  font-size: 20px;
  padding: 10px;
}
body main #intro #convince #headline {
  font-weight: normal;
  font-size: 23px;
  z-index: 3;
}
body main #intro #convince #other {
  padding-left: 40px;
}
body main #intro #convince .headlines-secondary {
  display: flex;
  align-items: center;
}
body main #intro #convince .headlines-secondary .big-red {
  padding-left: 5px;
}
body main #intro #convince strong {
  color: #af414a;
}
body main #intro #convince h1 .big-red {
  padding-left: 5px;
}
body main #intro #sec-cont {
  width: 30rem;
}
body main #intro #true-intro {
  background-color: white;
  margin: 0px !important;
  padding: 20px;
  max-width: 60vw;
}
body main #intro #true-intro h2 {
  color: #db9d47;
}
body main #intro #true-intro p {
  font-size: large;
}
body main #intro #true-intro strong {
  color: #db9d47;
}
body main #intro #pers-pic img {
  width: 20vw;
  height: 20vw;
}
body main #intro #pers-pic p {
  color: white;
  font-size: large;
}
body main #services-home {
  padding: 50px;
}
body main #services-home #tiles-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body main #services-home #tiles-sec div {
  background-color: white !important;
  background-size: 80% !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  color: black;
  width: 300px;
  margin: 30px;
  padding: 30px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body main #services-home #tiles-sec img {
  position: relative;
  left: 40px;
  bottom: 120px;
  width: 200px;
}
body main #services-home #tiles-sec p {
  font-size: large;
  padding-top: 20px;
}
body main #services-home #tiles-sec #pricing-tile {
  background: url(../images/price-tag.svg);
  color: #122e28;
}
body main #services-home #tiles-sec #pricing-tile img {
  bottom: 50px;
}
body main #services-home #tiles-sec #pricing-tile a {
  background-color: #122e28;
  border: 1px solid #122e28;
}
body main #services-home #tiles-sec #pricing-tile a:hover {
  background: none;
  color: #122e28;
}
body main #services-home #tiles-sec #design-tile {
  background: url(../images/sketch.svg);
  color: #19884a;
}
body main #services-home #tiles-sec #design-tile a {
  background-color: #19884a;
  border: 1px solid #19884a;
}
body main #services-home #tiles-sec #design-tile a:hover {
  background: none;
  color: #19884a;
}
body main #services-home #tiles-sec #dev-tile {
  background: url(../images/web.svg);
  color: #0c3263;
}
body main #services-home #tiles-sec #dev-tile a {
  background-color: #0c3263;
  border: 1px solid #0c3263;
}
body main #services-home #tiles-sec #dev-tile a:hover {
  background: none;
  color: #0c3263;
}
body main #services-home #tiles-sec #seo-tile {
  background: url(../images/analysis.svg);
  color: #af414a;
}
body main #services-home #tiles-sec #seo-tile a {
  background-color: #af414a;
  border: 1px solid #af414a;
}
body main #services-home #tiles-sec #seo-tile a:hover {
  background: none;
  color: #af414a;
}
body main #services-home #tiles-sec #dev-ops {
  background: url(../images/server.svg);
  color: #db9d47;
}
body main #services-home #tiles-sec #dev-ops a {
  background-color: #db9d47;
  border: 1px solid #db9d47;
}
body main #services-home #tiles-sec #dev-ops a:hover {
  background: none;
  color: #db9d47;
}
body main #services-home #tiles-sec #online-tile {
  background: url(../images/shop.svg);
  color: #19884a;
}
body main #services-home #tiles-sec #online-tile a {
  background-color: #19884a;
  border: 1px solid #19884a;
}
body main #services-home #tiles-sec #online-tile a:hover {
  background: none;
  color: #19884a;
}
body main #services-home #tiles-sec .tiles-button {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  text-decoration: none;
}
body main #testimonials h1 {
  padding-left: 5rem;
}
body main #testimonials .test-tile:hover > .overlay {
  opacity: 0.5 !important;
}
body main #testimonials .test-tile:hover > p {
  display: block !important;
  position: relative;
  color: white;
  z-index: 45;
  animation-name: parUp !important;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 1 !important;
}
body main #testimonials #test-cta-cont {
  display: flex;
  align-items: center;
  padding: 5rem;
  justify-content: center;
  padding: 2rem;
}
body main #testimonials #test-cta {
  padding: 15px 30px;
  color: white;
  background-color: #af414a;
  border: 1px solid #af414a;
  text-decoration: none;
}
body main #testimonials #test-cta:hover {
  color: #af414a;
  background: none;
}
body main #testimonials #test-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: black;
}
body main #testimonials #test-container a {
  text-decoration: none;
  color: #305789;
}
body main #testimonials #test-container a:hover {
  color: #122e28;
}
body main #testimonials #test-container .test-tile {
  background-color: white;
  margin: 15px;
  min-width: 23rem;
  max-height: 15rem;
}
body main #testimonials #test-container .test-tile .quote {
  font-weight: bold;
  font-size: large;
}
body main #testimonials #test-container .test-tile .client {
  max-height: 0;
  opacity: 0;
  transition: opacity 1s;
}
body main #testimonials #test-container .test-tile p {
  padding-left: 1rem;
  padding-bottom: 0.2rem;
  position: relative;
  bottom: 0rem;
  animation-name: parDown;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  transition: color 0.5s;
}
body main #testimonials #test-container .test-tile .back-img {
  height: 13rem;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
body main #testimonials #test-container .test-tile .overlay {
  background: black;
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 14.9rem;
  opacity: 0;
  transition: opacity 0.5s;
}
body main #contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
body main #contact div {
  padding: 5rem;
}
body main #contact #con-info p {
  font-size: larger;
  max-width: 20rem;
}
body main #contact form {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-width: 25;
}
body main #contact input {
  height: 3rem;
  padding-left: 1rem;
  border: none;
}
body main #contact textarea {
  padding: 1rem;
}
body main #contact #submit-button {
  margin-top: 20px;
  align-self: start;
  padding: 1rem 2rem;
  font-family: Big John PRO;
  font-size: large;
  border: 1px solid white;
  height: auto;
}
body main #contact #submit-button:hover {
  background: none;
  color: white;
}

/*# sourceMappingURL=index.css.map */
