$black: #122e28;
$blue: #0c3263;
$green: #19884a;
$red: #af414a;
$yellow: #db9d47;

@use 'header';
@use 'footer';

* {
	margin: 0;
	padding: 0;
}
body
{
	font-family: Big John PRO, sans-serif;
	background-color: #305789;
	color: white;
	main  
	{
		min-height: 100vh; 
		padding: 5rem;
		#con-main
		{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			padding-top: 3rem;
			align-items: start;
			div
			{
				background-color: white;
				color: $green;
				padding: 2rem;
			}
		}
		#con-info
		{ 
			p
			{
				font-size: larger;
				max-width: 20rem;
			}
			#title{ font-weight: bold; }
		}
		form {
			display: flex;
			flex-direction: column;
          		justify-content: stretch;
			min-width: 30rem;
		}
		input
		{
			height: 3rem;
			padding-left: 1rem;
			border: none;
			background: #eaeaea;
		}
		#submit-button
		{
			margin-top: 20px;
			align-self: start;
			padding: 1rem 2rem;
			font-family: Big John PRO;
			font-size: large;
			border: 1px solid $green;
			background-color: $green;
			height: auto;
			color: white;
		}
		#submit-button:hover
		{
			background: none;
			color: $green;
		}
		textarea
		{
			border: none;
			background: #eaeaea;
		}
	}
    }
