$black: #121e28;
$blue: #0c3263;
$green: #19884a;
$red: #af414a;
$yellow: #db9d47;


* {
    margin: 0;
    padding: 0;
}

header {
	z-index: 50;
    min-height: 10vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    color: #0c3263;
    position: sticky;
    top: 0;
    #logo {
        display: flex;
        align-items: center;
        font-family: "Share Tech Mono", monospace;
        #main-logo {
            height: 8vh;
        }
        #logo-text {
        }
    }
    nav {
        padding-right: 20vw;
        align-items: center;
        display: flex;
        justify-content: space-around;
        min-width: 40vw;
        a {
            text-decoration: none;
            color: #0c3263;
        }
    }
}
