$black: #122e28;
$blue: #0c3263;
$green: #19884a;
$red: #af414a;
$yellow: #db9d47;

@use 'header';
@use 'footer';

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Big John PRO, sans-serif;
    background-color: #305789;
    color: white;
    main {
        #hero {
            background-image: url("../images/back-1-new.png");
            background-repeat: no-repeat;
            background-position: right;
            background-size: 100%;
            min-height: 70vh;
            padding-bottom: 20px;
            #hero-text {
                position: relative;
                left: 50vw;
                background-color: white;
                color: $black;
                width: 35vw;
                padding: 40px;
                top: 100px;
                padding-left: 60px;
                padding-top: 0px;
                h2 {
                    transform: rotate(-90deg);
                    position: relative;
                    right: 280px;
                    font-weight: normal;
                    font-size: 30px;
                    bottom: 30px;
                }
                h1 {
                    font-size: 45px;
                    color: $green;
                }
                #hero-cta {
                    padding: 10px;
                    a {
                        padding: 10px;
                        color: white;
                        background-color: $green;
                        text-decoration: none;
			border: 1px solid $green;
                    }
                    #cta-2 {
                        background-color: $blue;
			border: 1px solid $blue;
                    }
		    a:hover
		    {
			    background: none !important;
			    color: $green;
		    }
		    #cta-2:hover
		    {
			    color: $blue;
		    }
                }
            }
        }
        #intro {
            display: flex;
	    padding: 5vw;
            div {
                color: $black;
                margin: 20px;
            }
            #convince {
                background-color: white;
		margin-right: 10vw;
                .big-red {
                    color: $red;
		    font-size: xx-large;
                }
                p {
                    font-size: 20px;
		    padding: 10px;
                }
                #headline {
                    transform: rotate(-90deg);
                    position: relative;
                    right: 270px;
                    font-weight: normal;
                    font-size: 23px;
                    top: 100px;
		    z-index: 3;
                }
                #other {
                    padding-left: 40px;
                }
		#everything-else {
			padding-left: 20px;
			.headlines-secondary {
				display:flex;
				align-items: center;
				.big-red {
					padding-left: 5px;
				}
			}
			strong {
				color: $red;
			}
			h1 .big-red {
				padding-left: 5px;
			}
		}
		
            }
		#true-intro {
			background-color:white;
			margin: 0px !important;
			padding: 20px;
			max-width: 60vw;
			h2 {
				color: $yellow;
				font-size: xx-large;
			}
			p {
				font-size: x-large;
			}
			strong {
				color: $yellow;
			}
		}
		#pers-pic {
			img {
				width: 20vw;
				height: 20vw;
			}
			p {
				color: white;
				font-size: large;
			}
		}
        }
	#services-home
	{
		padding: 50px;
		h1
		{
			font-size: xx-large;
		}
		#tiles-sec
		{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			div
			{
				background-color: white !important;
				background-size: 80% !important;
				background-position: center center !important;
				background-repeat: no-repeat !important;
				color: black;
				width: 300px;
				margin: 30px;
				padding: 30px;
	   			height: 300px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
			}
			img
			{
				position: relative;
				left: 40px;
				bottom: 120px;
				width: 200px;
			}
			p 
			{
				font-size: large;
				padding-top: 20px;
			}
			
			#pricing-tile 
			{			
				  background: url(../images/price-tag.svg) ; 
				color: $black; 
			img {
				bottom: 50px;
			}
				a{
			       		background-color: $black; 
					border: 1px solid $black;
				}
				a:hover
				{
					background: none;
					color: $black;
				}
			}	
			#design-tile
			{
				  background: url(../images/sketch.svg) ; 
				color: $green;
				a{
			      	 	background-color: $green; 
					border: 1px solid $green;
				}
				a:hover
				{
					background: none;
					color: $green;
				}
			}
			#dev-tile
			{
				  background: url(../images/web.svg) ; 
				color: $blue;
				a{
			       		background-color: $blue; 
					border: 1px solid $blue;
				}	
				a:hover
				{
					background: none;
					color: $blue;
				}
			}
			#seo-tile
			{
				  background: url(../images/analysis.svg); 
				color: $red;
				a{
			       		background-color: $red; 
					border: 1px solid $red;
				}
				a:hover
				{
					background: none;
					color: $red;
				}
			}
			#dev-ops
			{
				  background: url(../images/server.svg); 
				color: $yellow;
				a{
			       		background-color: $yellow; 
					border: 1px solid $yellow;
				}
				a:hover
				{
					background: none;
					color: $yellow;
				}
			}
			#online-tile
			{
				  background: url(../images/shop.svg); 
				
				color: $green;
				a{
			       		background-color: $green; 
					border: 1px solid $green;
				}
				a:hover
				{
					background: none;
					color: $green;
				}
			}
			.tiles-button
			{
				padding-left: 30px;
				padding-right: 30px;
				padding-top: 15px;
				padding-bottom: 15px;
				color: white;
			}
		}
	}
	#testimonials
	{
		#test-container
		{
			display: flex;
			justify-content: space-between;
			color: black;
			a
			{
				text-decoration: none;
				color: #305789;
			}
			a:hover
			{
				color: $black;
			}
			.test-tile
			{
				background-color: white;
				margin: 15px;
				min-width: 25rem;
				img
				{
					width: 100%;
					height: auto;
				}
			}
		}
	}
	#contact
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		div
		{
			padding: 5rem;
		}
		#con-info
		{ 
			p
			{
				font-size: larger;
				max-width: 20rem;
			}
		}
		form {
			display: flex;
			flex-direction: column;
          		justify-content: stretch;
			min-width: 30rem;
		}
		input
		{
			height: 3rem;
			padding-left: 1rem;
			border: none;
		}
		#submit-button
		{
			margin-top: 20px;
			align-self: start;
			padding: 1rem 2rem;
			font-family: Big John PRO;
			font-size: large;
			border: 1px solid white;
			height: auto;
		}
		#submit-button:hover
		{
			background: none;
			color: white;
		}
	}
    }
}
