$black: #122e28;
$blue: #0c3263;
$green: #19884a;
$red: #af414a;
$yellow: #db9d47;

@use 'header';
@use 'footer';

@keyframes parUp {
	from {
		bottom: 0;
	}
	to {
		bottom: 4rem;
	}
}

@keyframes parDown {
	from {
		bottom: 4rem;
	}
	to {
		bottom: 0;
	}
}

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Big John PRO, sans-serif;
	background-color: #305789;
	color: white;
	a,
	input {
		transition: background-color 0.2s, color 0.2s;
	}
	main {
		#hero {
			background-image: url('../images/back-1-new.png');
			background-repeat: no-repeat;
			background-position: right;
			background-size: cover;
			#hero-text {
				position: relative;
				left: 50vw;
				background-color: white;
				color: $black;
				padding: 25px;
				margin: 6rem;
				display: inline-block;
				@media (max-width: 850px) {
					left: 0;
					margin: 3rem;
				}
				h2 {
					font-weight: normal;
				}
				h1 {
					font-size: 45px;
					color: $green;
				}
				#hero-cta {
					padding: 10px;
					a {
						padding: 10px;
						color: white;
						background-color: $green;
						text-decoration: none;
						border: 1px solid $green;
					}
					#cta-2 {
						background-color: $blue;
						border: 1px solid $blue;
					}
					a:hover {
						background: none !important;
						color: $green;
					}
					#cta-2:hover {
						color: $blue;
					}
				}
			}
		}
		#intro {
			display: flex;
			flex-wrap: wrap;
			padding: 5vw;
			div {
				color: $black;
				margin: 20px;
			}
			#convince {
				background-color: white;
				padding: 1rem;
				width: 40rem;
				.big-red {
					color: $red;
					font-size: xx-large;
				}
				p {
					font-size: 20px;
					padding: 10px;
				}
				#headline {
					font-weight: normal;
					font-size: 23px;
					z-index: 3;
				}
				#other {
					padding-left: 40px;
				}
				.headlines-secondary {
					display: flex;
					align-items: center;
					.big-red {
						padding-left: 5px;
					}
				}
				strong {
					color: $red;
				}
				h1 .big-red {
					padding-left: 5px;
				}
			}
			#sec-cont {
				width: 30rem;
			}
			#true-intro {
				background-color: white;
				margin: 0px !important;
				padding: 20px;
				max-width: 60vw;
				h2 {
					color: $yellow;
				}
				p {
					font-size: large;
				}
				strong {
					color: $yellow;
				}
			}
			#pers-pic {
				img {
					width: 20vw;
					height: 20vw;
				}
				p {
					color: white;
					font-size: large;
				}
			}
		}
		#services-home {
			padding: 50px;
			#tiles-sec {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				div {
					background-color: white !important;
					background-size: 80% !important;
					background-position: center center !important;
					background-repeat: no-repeat !important;
					color: black;
					width: 300px;
					margin: 30px;
					padding: 30px;
					min-height: 300px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
				}
				img {
					position: relative;
					left: 40px;
					bottom: 120px;
					width: 200px;
				}
				p {
					font-size: large;
					padding-top: 20px;
				}

				#pricing-tile {
					background: url(../images/price-tag.svg);
					color: $black;
					img {
						bottom: 50px;
					}
					a {
						background-color: $black;
						border: 1px solid $black;
					}
					a:hover {
						background: none;
						color: $black;
					}
				}
				#design-tile {
					background: url(../images/sketch.svg);
					color: $green;
					a {
						background-color: $green;
						border: 1px solid $green;
					}
					a:hover {
						background: none;
						color: $green;
					}
				}
				#dev-tile {
					background: url(../images/web.svg);
					color: $blue;
					a {
						background-color: $blue;
						border: 1px solid $blue;
					}
					a:hover {
						background: none;
						color: $blue;
					}
				}
				#seo-tile {
					background: url(../images/analysis.svg);
					color: $red;
					a {
						background-color: $red;
						border: 1px solid $red;
					}
					a:hover {
						background: none;
						color: $red;
					}
				}
				#dev-ops {
					background: url(../images/server.svg);
					color: $yellow;
					a {
						background-color: $yellow;
						border: 1px solid $yellow;
					}
					a:hover {
						background: none;
						color: $yellow;
					}
				}
				#online-tile {
					background: url(../images/shop.svg);

					color: $green;
					a {
						background-color: $green;
						border: 1px solid $green;
					}
					a:hover {
						background: none;
						color: $green;
					}
				}
				.tiles-button {
					padding-left: 30px;
					padding-right: 30px;
					padding-top: 15px;
					padding-bottom: 15px;
					color: white;
					text-decoration: none;
				}
			}
		}
		#testimonials {
			h1 {
				padding-left: 5rem;
			}

			.test-tile:hover > .overlay {
				opacity: 0.5 !important;
			}
			.test-tile:hover > p {
				display: block !important;
				position: relative;
				color: white;
				z-index: 45;
				animation-name: parUp !important;
				animation-duration: 0.5s;
				animation-fill-mode: forwards;
				opacity: 1 !important;
			}
			#test-cta-cont {
				display: flex;
				align-items: center;
				padding: 5rem;
				justify-content: center;
				padding: 2rem;
			}
			#test-cta {
				padding: 15px 30px;
				color: white;
				background-color: $red;
				border: 1px solid $red;
				text-decoration: none;
			}
			#test-cta:hover {
				color: $red;
				background: none;
			}
			#test-container {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				color: black;
				a {
					text-decoration: none;
					color: #305789;
				}
				a:hover {
					color: $black;
				}
				.test-tile {
					background-color: white;
					margin: 15px;
					min-width: 23rem;
					max-height: 15rem;
					.quote {
						font-weight: bold;
						font-size: large;
					}
					.client {
						max-height: 0;
						opacity: 0;
						transition: opacity 1s;
					}
					p {
						padding-left: 1rem;
						padding-bottom: 0.2rem;
						position: relative;
						bottom: 0rem;
						animation-name: parDown;
						animation-duration: 0.5s;
						animation-fill-mode: forwards;
						transition: color 0.5s;
					}
					.back-img {
						height: 13rem;
						background-size: contain !important;
						background-repeat: no-repeat !important;
					}
					.overlay {
						background: black;
						width: 100%;
						height: 100%;
						position: relative;
						bottom: 14.9rem;
						opacity: 0;
						transition: opacity 0.5s;
					}
				}
			}
		}
		#contact {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding-top: 5rem;
			padding-bottom: 5rem;
			div {
				padding: 5rem;
			}
			#con-info {
				p {
					font-size: larger;
					max-width: 20rem;
				}
			}
			form {
				display: flex;
				flex-direction: column;
				justify-content: stretch;
				min-width: 25rem;
			}
			input {
				height: 3rem;
				padding-left: 1rem;
				border: none;
			}
			textarea {
				padding: 1rem;
			}
			.g-recaptcha {
				padding: 0 !important;
			}

			.g-recaptcha div {
				padding: 0 !important;
			}
			#submit-button {
				margin-top: 20px;
				align-self: start;
				padding: 1rem 2rem;
				font-family: Big John PRO;
				font-size: large;
				border: 1px solid white;
				height: auto;
			}
			#submit-button:hover {
				background: none;
				color: white;
			}
		}
	}
}
