$black: #122e28;
$blue: #0c3263;
$green: #19884a;
$red: #af414a;
$yellow: #db9d47;

@use 'header';
@use 'footer';

* {
	margin: 0;
	padding: 0;
}
body
{
	font-family: Big John PRO, sans-serif;
	background-color: #305789;
	color: white;
	main  
	{
		min-height: 100vh; 
		padding: 3rem;
		#intro
		{ padding-bottom: 3rem; }
		#test-container
		{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			color: black;
			a
			{
				text-decoration: none;
				color: #305789;
			}
			a:hover
			{
				color: $black;
			}
			.test-tile
			{
				background-color: white;
				margin: 15px;
				min-width: 25rem;
				img
				{
					width: 100%;
					height: auto;
				}
			}
		}

	}
}

