@font-face {
    font-family: 'Big John PRO Bold';
    src: url('bigjohnpro-bold-webfont.woff2') format('woff2'),
         url('bigjohnpro-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Big John PRO Light';
    src: url('bigjohnpro-light-webfont.woff2') format('woff2'),
         url('bigjohnpro-light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Big John PRO Regular';
    src: url('bigjohnpro-regular-webfont.woff2') format('woff2'),
         url('bigjohnpro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}